.st-layer-slider {
    position: relative;
}

/*========= NAV =======*/
.sequence-pagination {
    list-style: none;
    text-align: center;
    margin: 0;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 20;
}

.sequence-pagination li {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;
}

.sequence-pagination li.current span {
    position: relative;
}

.sequence-pagination li.current span:after {
    position: absolute;
    top: 2px;
    left: 2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.66);
    display: block;
    content: '';
}

.sequence-pagination:after {
    content: '';
    display: block;
    clear: both;
}

.sequence-pagination li span {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #d7d7d7;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.28);
    display: block;
}

.sequence-prev,
.sequence-next {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background: url(../images/icons.png) no-repeat center center #dcdcdc;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 20;
}

.sequence-prev {
    left: 0;
    background-position: center -178px;
}

.sequence-next {
    right: 0;
    background-position: center -107px;
}

.sequence-prev:hover,
.sequence-next:hover {
    background-color: #fd7800;
}

.sequence-prev:hover {
    background-position: center -49px;
}

.sequence-next:hover {
    background-position: center 11px;
}

.sequence-canvas {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.sequence-canvas > li {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.sequence-canvas > li > * {
    position: absolute;
    height: 100%;
    opacity: 0;

    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -ms-transition: all 100ms;
    -o-transition: all 100ms;
    transition: all 100ms;
}

.sequence-canvas > li.animate-in,
.sequence-canvas > li.animate-in > * {
    opacity: 1;
}

/*-*/
.layer-effect-door .sequence-canvas > li.animate-out,
.layer-effect-door .sequence-canvas > li.animate-in,
.layer-effect-door .sequence-canvas > li {
    -webkit-transition: all 1s;
}

.layer-effect-door .sequence-canvas > li .image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.layer-effect-door .sequence-canvas > li .image img {
    width: 100%;

    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);

    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
    transform-origin: 10% 40%;
}

.layer-effect-door .sequence-canvas > li.animate-out .image img {
    -webkit-transform: rotate(2deg) scale(0.98, 0.98);
    -moz-transform: rotate(2deg) scale(0.98, 0.98);
    -ms-transform: rotate(2deg) scale(0.98, 0.98);
    -o-transform: rotate(2deg) scale(0.98, 0.98);
    transform: rotate(2deg) scale(0.98, 0.98);

    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    transition-duration: all 2s;
}

.layer-effect-door .sequence-canvas > li.animate-in .image img {

    -webkit-transform: rotate(0deg) scale(1.05, 1.05);
    -moz-transform: rotate(0deg) scale(1.05, 1.05);
    -ms-transform: rotate(0deg) scale(1.05, 1.05);
    -o-transform: rotate(0deg) scale(1.05, 1.05);
    transform: rotate(0deg) scale(1.05, 1.05);

    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -ms-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition-duration: all 1.5s;
}

.layer-effect-door .title,
.layer-effect-door .content {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    text-align: center;
    width: 80%;
    margin: auto;
}

.layer-effect-door .content {
    top: 70%;
}
/*--*/

.layer-effect-slide .sequence-prev {
    top: -32px;
    left: auto;
    right: 45px;
    height: 25px;
    width: 25px;
    background-position: 9px -182px;
}

.layer-effect-slide .sequence-next {
    top: -32px;
    left: auto;
    right: 9px;
    height: 25px;
    width: 25px;
    background-position: 11px -111px;
}

.layer-effect-slide .sequence-prev:hover {
    background-position: 8px -53px;
}

.layer-effect-slide .sequence-next:hover {
    background-position: 11px 8px;
}

.layer-effect-slide .column-inner {
    padding: 0 10px 0 0;
}
/*-

a,
a:link,
a:visited,
.avatar-main-menu ul li a:hover,
.avatar-main-menu ul li span:hover,
.st-team .inner .title,
.st-projects .st-heading,
.st-team .st-heading,
.st-blog-heading .st-heading,
.st-contact-us .st-heading,
.st-features .st-heading,
[class*="st-icon-"],
header .title a:hover {
    color: #2980B9;
}
-*/
.st-blog .st-heading {
	color: #FFFFFF;
}

.st_contact input.button,
.st-home a.link-button {
    color: #2980B9 !important;
}

.avatar-main-menu a:hover,
.avatar-main-menu span:hover,
.st-top-slider .sequence-prev:hover,
.st-top-slider .sequence-next:hover,
.st-top-slider .sequence-pagination li.current span:after,
#avatar-full-5-block,
#avatar-full-3-block,
.st_contact input.button:hover,
.st-home a.link-button:hover,
.st-footer-social a:hover,
.st-team .inner .social a:hover,
.avatar-main-menu > .active > a, .avatar-main-menu > .active > span {
    background-color: #2980B9;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1), 0 0 10px 10px #2980B9, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #2980B9, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.1);
        opacity: 0;
    }
}

@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #2980B9, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #2980B9, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #2980B9, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #2980B9, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

.st-contact-us .content:before {
    background: url(../images/icon-place.png) no-repeat;
}