@font-face {
  font-family: 'Gravitas One';
  font-style: normal;
  font-weight: 400;
  src: local('Gravitas One'), local('GravitasOne'), url(http://themes.googleusercontent.com/static/fonts/gravitasone/v3/nBHdBv6zVNU8MtP6w9FwTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
