/*=== About us ===*/
section {
	min-width: 960px;
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hsContainer {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.hsContent {
	max-width: 700px;
	position: absolute;
	left: 50%;
	top: 50%;
}
.hsContent h2  {
	color: #fff8de;
	background-color: rgba(0,0,0,0.5);
	padding: 10px 5px;
	font-size: 35px;
	line-height: 38px;
	margin-bottom: 12px;
}
.hsContent p {
	width: 400px;
	color: #b2b2b2;
}
.hsContent a {
	color: #b2b2b2;
	text-decoration: underline;
}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../images/bcg_slide-1.jpg')}
#slide-1 .hsContent {
	bottom: 200px;
	top: auto;
}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../images/bcg_slide-2.jpg')}
#slide-2 .hsContent {
	margin-left: -450px;
	top: auto;
}
#slide-2 h2 {
	position: fixed;
	top: 70%;
}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../images/bcg_slide-3.jpg')}
#slide-3 .hsContent {
	margin-left: -239px;
}
#slide-3 h2 {
	color: #f2ead6;
	background-color: rgba(0,0,0,0.6);
}

/* Slide 4 */
#slide-4 .bcg {background-image:url('../images/bcg_slide-5.jpg')}
#slide-4 .hsContent {
	margin-left: -450px;
	position: fixed;
	top: 250px;
}
#slide-4 h2 {
	background: none;
	padding-left: 0;
	padding-right: 0;
}
.tbl_button a {
	background: #009edb;
	background-position: 0px -22px;
	border-bottom: 5px solid #1968a5;
	color: white !important;
	padding: 10px 20px 5px 20px;
	text-decoration: none;
	font-size: 25px;
}
#tbl_aboutus .tbl_button {
	position: fixed;
	bottom: 20%;
	left: 45%;
}
